<p><%= notice %></p>

<div class="container">
<% if @basket_items.empty? %>
  <p> Add some products this is empty.... </p>
<% else %> 
    <table class="table table-hover">
      <tr>
        <th>Picture</th>
        <th>Name</th>
        <th>Price</th>
        <th>Quantity</th>
        <th></th>
      </tr>
      <tr>
        <% @basket_items.each do |item| %>
          <td><p>Nothingness</p></td>
          <td><p><%= item.product.name %></p></td>
          <td><p><%= item.product.price %></p></td>
          <td><p><%= item.quantity %></p></td>
          <td><%= button_to 'Remove', basket_item_path(item.id), :method => 'delete', :confirm => 'Are you sure?', :class => "btn" %></td>
          <td><%= form_for item, :url => basket_item_path do |f| %>
            <%= f.hidden_field(:basket_item, :value => item.id) %>
            <%= f.label :quantity %>
            <%= f.text_field :quantity %>
          <%= f.submit "Update", :class => "btn" %>
          <% end %></td>
        </tr>
        <% end %>
         <tr>
          <td><p class="text-info">Total  <%= @basket_items.product_totals(@basket.id) %><p></td>
          <td><%= link_to "Purchase products", new_order_path, :class => "btn" %></td>
        </tr>
    </table>
  </div>
<% end %>