<p><%= notice %></p>

<p><%= @basket_items.product_totals %><p>

<%= link_to "Purchase products", new_payment_path %>

<table class="table table-hover">
  <tr>
    <th>Picture</th>
    <th>Name</th>
    <th>Price</th>
    <th></th>
  </tr>
  <tr>
    <% @basket_items.each do |item| %>
      <td><p>Nothingness</p></td>
      <td><p><%= item.product.name %></p></td>
      <td><p><%= item.product.price %></p></td>
      <td><%= button_to 'Remove', basket_item_path(item.id), :method => 'delete', :confirm => 'Are you sure?' %></td>
  </tr>
<% end %>
</table>