<h1> Orders </h1>

<%= render 'shared/admin_links' %>

<div class="container">
  <table class="table table-hover">
    <tr>
      <th>Order number</th>
      <th>Order total</th>
      <th>Status</th>
    </tr>
      <% @orders.each do |order| %>
    <tr>
        <td><p><%= order.id %></p></td>
        <td><p><%= order.total %></p></td>
        <td><p><%= form_for(order, :url => admin_orders_path, :method => :put) do |f|  %>
            <%= f.select(:status, (Order::STATUS)) %>
            <%= f.hidden_field(:id, :value => order.id) %>
            <%= f.submit "Update", :class => "btn" %>
          <% end %>
    </tr>
    <% end %>
  </table>
</div>