<button type="button" class="close" data-dismiss="alert">&times;</button>
	<p><%= flash[:notice] %></p>
</div>

<div class ="dep-search">
	<%= form_tag("/departments", method: "get") do %>
	<%= label_tag(:search, "Search for:") %>
	<%= text_field_tag(:query) %>
	<%= submit_tag("Search") %>
	<% end %>
	</form> 
</div>  

<div class="container-fluid">
	<div class="row-fluid">
		<div class="span2">
			<% @departments.each do |d| %>
  			<p><%= link_to d.department_name, department_path(d) %></p>
			<% end %>
		</div>
		<div class="span10">
			<% @products.each do |p| %>
				<div class="product-i">
					<ul class="thumbnails">
						<li class="span3">
							<%= image_tag p.image %> 
						</li>
					</ul>
					<p><%= p.price %></p>
					<p><%= link_to p.name, product_path(p.slug) %></p>
				</div>
			<% end %>
		</div>
	</div>
</div>