<div class="container">
<%= form_for :order, :url => { :action => "create" }, :class => "horizontal" do |f| %>
  
<%= render 'shared/error_messages', :target => @order %>
  <h2> Shipping Details </h2>
    <% @address.each do |add| %>
      <p><%= add.address_1 %></p>
      <p><%= add.address_2 %></p>
      <p><%= add.city %></p>
      <p><%= add.post_code %></p>
      <%= f.radio_button(:address_id, :checked => add.id ) %>
    <% end %>
  <h2> Payment Details </h2>
    <% @payment.each do |pay| %>
      <p><%= pay.last4 %></p>
      <p><%= pay.type %></p>
      <p><%= pay.expiry_year_and_month %></p>
    <% end %>
    
  <p><strong> Total cost:- <%= @order.product_totals %></strong></p>

    <%= f.submit("Order", :class => "btn") %>
  <% end %>
</div>