<div class="container">
<%= form_for :order, :url => { :action => "create" }, :class => "horizontal" do |f| %>
  
<%= render 'shared/error_messages', :target => @order %>
  <h2> Shipping Address </h2>
  
  <%= f.select(:address_id, options_from_collection_for_select(@address, "id", "address_1"), :prompt => "Select an address") %>

  <%= link_to 'Create/Edit Addresses', user_addresses_path(current_user) %>
  
  <% f.hidden_field(:user_id, :value => current_user.id) %>

  <h2> Payment method </h2>

    <% @payment.each do |p| %>
      <p><%= p.card_type %></p>
      <p><%= p.last_four %></p>
      <p><%= p.expiry_year_and_month%></p>
      <% f.hidden_field(:payment_id, :value => p.id) %>
    <% end %>

    <%= link_to "Create/Edit credit/debit card", user_payments_path(current_user) %> 
    
  <p><strong> Total cost:- <%= @order.product_totals %></strong></p>

    <%= f.submit("Order", :class => "btn") %>

  <% end %>
</div>