<%= form_for :order, :url => { :action => "payment" }, :class => "horizontal" do |f| %>
  <div id="payment-details">
    <h2> Payment Details </h2>
    <div class="control-group">
      <label class="control-label">
        <%= label_tag(:card_no, "Card Number") %>
      </label>
      <div class="controls">
        <%= f.text_field :number %>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label">
        <%= label_tag(:CVC) %>
      </label>
      <div class="controls">
        <%= f.text_field :cvc %>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">
        <%= label_tag(:exp_month) %>  
      </label>
      <div class="controls">
        <%= select_month( Date.today, :use_month_number => true, :field_name => "month")%>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">
        <%= label_tag(:exp_year) %>  
      </label>
      <div class="controls">
        <%= select_year( Date.today, start_year: 2000, end_year: Date.today.year + 10, :field_name => "year"  ) %>
      </div>

      <%= f.submit("Next", :class => "btn") %> <%= link_to "Back", :back %>
    </div>
  </div>

    <div id="stripe_error">
      <noscript>JavaScript is not enabled and is required for this form. First enable it in your web browser settings.</noscript>
    </div>
<% end %>

  <p><%= @order.product_totals %><p>
