<%= form_for :order, :url => { :action => "review" }, :class => "horizontal" do |f| %>

  <% if @order.errors.any? %>
    <div class="alert alert-error">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <h4><%= pluralize(@order.errors.count, "error") %> Stopped this order being made:</h4>
      <ul>
        <% @order.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  

  <div id="shipping-details">
    <h2> Shipping Details </h2>

    <div class="control-group">
      <label class="control-label">
        <%= f.label(:title) %>
      </label>
      <div class="controls">
        <%= f.select :title, options_for_select(["Mr", "Mrs", "Miss", "Dr"]) %>
      </div> 
    </div>
    <div class="control-group">
      <label class="control-label">
        <%= f.label(:first_name) %>
      </label>
      <div class="controls">
        <%= f.text_field(:first_name) %>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">
        <%= f.label(:last_name) %>
      </label>
      <div class="controls">
        <%= f.text_field(:last_name) %>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">
        <%= f.label(:address_1) %>
      </label>
      <div class="controls">
        <%= f.text_field(:address_1) %>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">
        <%= f.label(:address_2) %>
      </label>
      <div class="controls">
        <%= f.text_field(:address_2) %>
      </div>
    </div>
  </div>

  <div id="payment-details">
    <h2> Payment Details </h2>
    <div class="control-group">
      <label class="control-label">
        <%= label_tag(:card_no, "Card Number") %>
      </label>
      <div class="controls">
        <%= f.text_field :number %>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label">
        <%= label_tag(:CVC) %>
      </label>
      <div class="controls">
        <%= f.text_field :cvc %>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">
        <%= label_tag(:exp_month) %>  
      </label>
      <div class="controls">
        <%= select_month( Date.today, :use_month_number => true, :field_name => "month")%>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">
        <%= label_tag(:exp_year) %>  
      </label>
      <div class="controls">
        <%= select_year( Date.today, start_year: 2000, end_year: Date.today.year + 10, :field_name => "year"  ) %>
      </div>

      <%= f.submit("submit", :class => "btn") %>
    </div>
  </div>

  <div id="stripe_error">
    <noscript>JavaScript is not enabled and is required for this form. First enable it in your web browser settings.</noscript>
  </div>
<% end %>

<p><%= @order.product_totals %><p>
