<h1>Order</h1>
<div class="container">
  <h2> Status </h2>
    <p><%= @order.status %></p>
  <h2> Order Items </h2>
  
  <h2> Total </h2>
   <p><%= @order.total %></p>
  <h2> Cancel Order </h2>
   <p><%= form_for(@order, :url => cancel_user_order_path, :method => :put) do |f|  %>
            <%= f.hidden_field(:status, :value => "Cancelled") %>
            <%= f.hidden_field(:id, :value => @order.id) %>
            <%= f.submit "Cancel", :class => "button medium" %>
          <% end %></p>
 </div>
