<h2 align="center">Sign in</h2>

  <%= devise_error_messages! %>
<div class="sign-in-form">
  <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <div class="row">
    <div class="small-4 columns">
      <%= f.label :email %>
      <%= f.email_field :email, :autofocus => true %>
    </div>
  </div>

  <div class="row">
    <div class="small-4 columns">
      <%= f.label :password %>
      <%= f.password_field :password %>
    </div>
  </div>

  <div class="row">
    <div class="small-4 columns">
      <% if devise_mapping.rememberable? -%>
        <%= f.check_box :remember_me %> <%= f.label :remember_me %>
      <% end -%>
    </div>
  </div>
  
  <div class="row">
    <div class="small-4 columns">
      <%= f.submit "Sign in", :class => "button small" %>

      <% end %>

      <p><%= render "devise/shared/links" %></p>
    </div> 
  </div>
</div>
