<div class="payment-form">
  <%= form_for :payment, :url => { :action => "create" } do |f| %>
    <form class="horizontal">
      <div class="control-group">
        <label class="control-label">
          <%= f.label(:title) %>
        </label>
        <div class="controls">

        </div> 
      </div>
      <div class="control-group">
        <label class="control-label">
          <%= f.label(:first_name) %>
        </label>
        <div class="controls">
          <%= f.text_field(:first_name) %>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label">
          <%= f.label(:last_name) %>
        </label>
        <div class="controls">
          <%= f.text_field(:last_name) %>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label">
          <%= f.label(:address_1) %>
        </label>
        <div class="controls">
          <%= f.text_field(:address_1) %>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label">
          <%= f.label(:address_2) %>
        </label>
        <div class="controls">
          <%= f.text_field(:address_2) %>
        </div>
      </div>

      <div class="control-group">
        <label class="control-label">
          <%= f.label(:card_no) %>
        </label>
        <div class="controls">
          <%= f.text_field(:card_no) %>
        </div>
      </div>

      <div class="control-group">
        <label class="control-label">
          <%= f.label(:csv) %>
        </label>
        <div class="controls">
          <%= f.text_field(:csv) %>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label">
          <%= f.label(:start_date) %>  
        </label>
        <div class="controls">
        <%= f.text_field(:start_date) %>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label">
          <%= f.label(:exp_date) %>  
        </label>
        <div class="controls">
        <%= f.text_field(:exp_date) %>
        </div>
      </div>
      <button class="btn">
        <%= f.submit %>
      </button>
  <% end %>
  </form>
</div>
<p><%= @payment.product_totals %><p>
