<div class="category-form-update">
	<form class="form-horizontal">
		<div class="control-group">
			<label class="control-label">
				<%= f.label :category_name %>
			</label>
			<div clas="controls">
				<%= f.text_field :category_name %>
			</div>
		</div>
		<div class="control-group">
			<%= f.fields_for :products do |product_form| %>
			<label class="control-label">
				<%= product_form.label :products, "Products" %>
			</label>
			<div class="controls">
				<%= product_form.select :products, options_from_collection_for_select(Product.all, :id, :name) %>
			<% end %>
			</div>
		</div>
  	<div class="control-group">
			<%= f.fields_for :category_departments do |department_form| %>
			<label class="control-label">
				<%= department_form.label :department, "Department" %>
			</label>
			<div class="controls">
  			<%= department_form.select(:departments, options_from_collection_for_select(Department.all, :id, :department_name)) %>
			<% end %>
			</div>
		</div>
		<div class="control-group">
			<div class="controls">
				<button class="btn">
					<%= f.submit %>
				</button>
			</div>
		</div>
	</div>
