<div class="category-form-update">
	<form class="form-horizontal">

		<div class="control-group">
			<label class="control-label">
				<%= f.label :category_name %>
			</label>
			<div clas="controls">
				<%= f.text_field :category_name %>
			</div>
		</div>
  	<div class="control-group">
			<%= f.fields_for :category_departments do |builder| %>
			<label class="control-label">
				<%= builder.label :department, "Department" %>
			</label>
			<div class="controls">
				<% department = Department.all.map { |dep| [dep.department_name.capitalize, dep.id] } %>
  			<%= builder.select(:department_id ,options_for_select(department)) %>
			<% end %>
			</div>
		</div>

		<div class="control-group">
			<div class="controls">
				<button class="btn">
					<%= f.submit %>
				</button>
			</div>
		</div>
	</div>
