<div class="container">

  <p> <%= link_to 'New Category', new_admin_category_path %> </p>

  <div class="container">
    <table>
      <thead>
        <tr>
          <th width="170">Name</th>
          <th width="100">Departments</th>
          <th width="100"></th>
          <th width="100"></th>
          <th width="100"></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <% @categories.each do |c| %>
            <td><p><%= c.category_name %></p></td>
            <td><p><%= c.departments.map { |d| d.department_name } %></p></td>
            <td><%= link_to 'Show', admin_category_path(c) %></td>
            <td><%= link_to 'Edit', edit_admin_category_path(c) %></td>
            <td><%= link_to 'Delete', admin_category_path(c), :method => 'delete', :confirm => 'Are you sure?' %></td>
         </tr>
      </tbody>
        <% end %>
      </table>
      <div class="pagination">
        <ul>
          <li><%= will_paginate @categories %></li>
        </ul>
      </div>
    </div>
</div>