<h1> Create a Category </h1>
	<%= form_for :category do  |f| %>
		<%= f.label :category_name %>
		<%= f.text_field :category_name %>
<!-- 		<%= f.label :department %>
		<%= f.collection_select :department, Department.all, :id, :name %> -->
		<%= f.submit %>
	<% end %>
