<%= render 'shared/error_messages', :target => @product %>
	<div class="product-form">
		<form class="form-horizontal">
			<div class="row">
				<div class="small-4 columns">
					<%= f.label :name %>
					<%= f.text_field :name %>
				</div>
			</div>

			<div class="row">
				<div class="large-12 columns">
					<%= f.label :description %>
					<%= f.text_area :description, rows: 6 %>
				 </div>
			</div>

			<div class="row">
				<div class="large-6 columns">
			  	<%= f.label :image %>
			  	<%= f.file_field :image %>
			  </div>
			</div>

			<div class="row">
		  	<div class="large-4 columns">
		  		<%= f.label :price %>
		  		<%= f.text_field :price %>
		  	</div>
			</div>

			<div class="row">
				<div class="small-3 columns">
		  		<%= f.label "Category Department" %>
		  		<%= f.select(:category_department_id, options_for_select(@category_departments, nil)) %>
		  	</div>
			</div>

			<div class="row">
				<div class="small-2 columns">
					<%= f.label :size %>
			  	<%= f.fields_for :sizings do |s|%>
			    <%= s.select(:size_id ,options_from_collection_for_select(Size.all, "id", "size_name"), :prompt => "Select a size") %>
			  </div>
			  <div class="small-2 columns">
			    <%= s.text_field :quantity %>
			  </div>
			   <% end %>
			</div>

		  <div class="control-group">
		  	<div class="controls">
			  	<button class="btn">
			  		<%= f.submit %>
			  	</button>
			  </div>
			</div>
		</div>
