<%= render 'shared/error_messages', :target => @product %>
	<div class="product-form">
		<form class="form-horizontal">
			<div class="control-group">
				<label class="control-label">
					<%= f.label :name %>
				</label>
				<div class="controls">
					<%= f.text_field :name %>
				</div>
			</div>

			<div class="control-group">
				<label class="control-label">
					<%= f.label :description %>
				</label>
				<div class="controls">
				  	<%= f.text_area :description, rows: 6 %>
				 </div>
			</div>

			<div class="control-group">
			 	<label class="control-label">
			  	<%= f.label :image %>
			  </label>
			  <div class="controls">
			  	<%= f.file_field :image %>
			  </div>
			</div>

		  <div class="control-group">
		  	<label class="control-label">
		  		<%= f.label :price %>
		  	</label>
		  	<div class="controls">
		  		<%= f.text_field :price %>
		  	</div>
			</div>

			<div class="control-group">
		  	<label class="control-label">
		  		<%= f.label :category %>
		  	</label>
		  	<div class="controls">
		  		<%= f.select(:category_id, options_from_collection_for_select(Category.all, "id", "category_name"), :prompt => "Select a category") %>
		  	</div>
			</div>

			<div class="control-group">
		  	<label class="control-label">
		  		<%= f.label :department %>
		  	</label>
		  	<div class="controls">
		  		<%= f.select(:department_id, options_from_collection_for_select(Department.all, "id", "department_name"), :prompt => "Select a department") %>
		  	</div>
			</div>

			<div class="control-group">
			  <%= f.fields_for :sizings do |s|%>
			    <%= s.select(:size_id ,options_from_collection_for_select(Size.all, "id", "size_name"), :prompt => "Select a size") %>
			    <%= s.text_field :quantity %>
			  <% end %>
			</div>

		  <div class="control-group">
		  	<div class="controls">
			  	<button class="btn">
			  		<%= f.submit %>
			  	</button>
			  </div>
			</div>
		</div>
