<div class="container">
	<div class="alert alert-success">
		<p><%= flash[:notice] %></p>
	</div>
	<ul class="nav nav-pills">
	  <li><%= link_to "Product management", admin_products_path %></li>

	  <li><%= link_to "Category management", admin_categories_path %></li>
	</ul>

	<p><%= link_to 'New Product', new_admin_product_path %></p>
	<div class="container">
		<table class="table table-hover">
			<tr>
				<th>Name</th>
				<th>Price</th>
				<th>Department</th>
				<th>Category</th>
				<th></th>
			</tr>
			<tr>
				<% @products.each do |p| %>
					<td><p><%= p.name %><p></td>
					<td><p><%= p.price %><p></td>
					<td><p><%= p.department.department_name.capitalize %><p></td>
					<td><p><%= p.category.category_name %><p></td>
					<td><%= link_to 'Show', admin_product_path(p) %></td>
					<td><%= link_to 'Edit', edit_admin_product_path(p) %></td>
					<td><%= link_to 'Remove', admin_product_path(p), :method => 'delete', :confirm => 'Are you sure?' %></td>
				</tr>
			<% end %>
			</table>
			<div class="pagination">
				<ul>
					<li><%= will_paginate @products %></li>
				</ul>
			</div>
		</div>
</div>

	