
<div class="container">

	<p><%= link_to('New Product', new_admin_product_path, :class => "btn") %></p>

	<table>
		<thead>
			<tr>
				<th width="170">Name</th>
				<th width="100">Price</th>
				<th width="100">Department</th>
				<th width="100">Category</th>
				<th width="150"></th>
				<th width="150"></th>
				<th width="150"></th>
			</tr>
		</thead>
		<tbody>
			<tr>
			<% @products.each do |p| %>
				<td><p><%= p.name %><p></td>
				<td><p><%= p.price %><p></td>
				<td><p><%= p.category_department.department.department_name.capitalize %><p></td>
				<td><p><%= p.category_department.category.category_name %><p></td>
				<td><%= link_to('Show', admin_product_path(p), :class => "btn") %></td>
				<td><%= link_to('Edit', edit_admin_product_path(p), :class => "btn") %></td>
				<td><%= link_to('Remove', admin_product_path(p), :method => 'delete', :confirm => 'Are you sure?', :class => "btn") %></td>
			</tr>
		</tbody>
		<% end %>
	</table>
	<div class="pagination">
		<ul>
			<li><%= will_paginate @products %></li>
		</ul>
	</div>
</div>

	