<ul class="breadcrumb">
  <li><%= link_to "Home", root_path %></li>
  <li class="active">Department </li>
  <li class="active">Category products </li>
</ul>

<ul class="thumbnails">
	<li class="span4">
		<div class="thumbnail">
			<%= image_tag(@product.image) %>
		</div>
	</li>
</ul>
<div class="product-detail">
	<p><%= @product.name %></p>
	<p><%= @product.price %></p>
  <%= button_to "Add to Basket", basket_items_path(product_id: @product.id), :class =>"btn" %>
</div>