<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= "Blind-Love" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "modernizr" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <nav class="top-bar" data-topbar>
      <ul class="title-area">       
        <li class="name">
          <h1><%= link_to "Blind Love", root_path %></h1>
        </li>
      </ul>

      <section class="top-bar-section">
        
        <ul class="right">
          <li class="has-form">
         
                <%= form_tag(searches_path, method: "get") do %>
                   <%= text_field_tag(:query, "Search for Products") %>
          
                  <%= submit_tag("Search", :class => "alert button expand") %>
                <% end %>

          </li>
        </ul>

        <ul class="left">
          <li class="has-dropdown">
              <a href="#">Departments</a> 
              <ul class="dropdown">
                <li><%= link_to 'Mens', department_path(:mens) %></li>
                <li><%= link_to 'Womens', department_path(:womens) %></li>
              </ul>
          </li>
        <ul>  

      </secton>
    </nav>

    <%= yield %>
    <%= javascript_include_tag "application" %>
  </body>
</html>