<!DOCTYPE html>
<html>
<head>
  <title>BlindLove</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body >

	<div class="navbar navbar-static-top">
	  <div class="navbar-inner">

      <div class="search">
        <%= form_tag(searches_path, method: "get", :class => "form-search") do %>
          <%= text_field_tag(:query, nil, :class => "input-medium search-query") %>
          <%= submit_tag("Search", :class => "btn") %>
        <% end %>
      </div>
	  	<a class="brand" href="#">Blind Love</a>
	  	 <ul class="nav">
          <li><%= link_to 'Home', admin_index_path %></li>
          <li class="divider-vertical"></li>
          <li><%= link_to 'Mens', department_path(:mens) %></li>
          <li class="divider-vertical"></li>
          <li><%= link_to "Womens", department_path(:womens) %></li>
          <li class="divider-vertical"></li>
          <li><%= link_to "Basket", current_basket %></li>
          <% if current_user %>
            <li><%= link_to 'User Account', user_path(current_user) %></li>
            <li><%= link_to 'Log Out', logout_path(@user) %></li>
          <% else %>
            <li><%= link_to 'Log In', login_path %></li>
          <% end %> 
	    </ul>
	  </div>
	</div>

  <% unless flash.empty? %>
    <% flash.each do |name, msg| %>
      <div class="alert alert-<%=name%>">
        <strong><%= "#{msg}!" %></strong>
      </div>
    <% end %>
  <% end %>

  <%= yield %>

</body>
</html>
